body {
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: #34495e;
  background: #f1f3f5;
  margin: 0px;
}

#root,
.App {
    width: 100%;
    text-align: center;
}

.dashboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.75em;
}