.DmgDist {
    max-height: 80vh;
    flex: 1;
    min-width: 300px;
    width: 60vw;
    overflow: hidden;
}

.Axis__line{
    stroke: black;
}

.Bars__rect{
    fill: #c00000;
    transition: all 0.02s ease-out;
}