.icon {
    display: inline-block;
    padding: 5px;
}

.icon > a > img {
    height: 32px;
    width: 32px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    background-color: #f1f3f5;
}

.banner{
    height: 32px;
}