.input-container {
    height: 1.65em;
    width: 100%;
    position: relative;
}

.input{
    background: transparent;
    border: none;
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 1em;
}


.scrub-icon{
    max-width: 30px;
    max-height: 30px;
    padding-right: 10px;
}

.scrub-icon-container{
    display: flex;
    align-items: center;
}

/* 
    Remove the styling for the focus to draw attention to the whole componenet
    rather than the input tag
*/

.input:focus{
    outline: none !important;
}

.input-label{
    padding-left: 5%;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-sizing: border-box;
    box-shadow: 2.5px 4px 2px #C9C9C9;
}

/* 
    Allows us to change styling for the parent element when the child element is
    focused ---- not supported on IE
*/
.input-label:focus-within{
    
    border-style: solid;
    border-color: #c00000;
    border-width: 2px;
}

.input-background{
    background-color: #383838;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}