
.switch-wrapper{
    display: inline-block;
    margin: 5px;
}

.switch {
    position: relative; /* Necesasry to have absolute positioning */
    display: inline-block;
    width: 100px;
    height: 34px;

    font-size: 0.75em;
}

.switch:focus-within{ 
    border-style: solid;
    border-color: #c00000;
    border-width: 2px;
}

/* Hide default checkbox so we only interact with label tag */
.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(107, 107, 107);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


.span-label{
    color: white;
    position: absolute;
    transform: translate(0 ,-50%); /* reposition element in horizontal and vertical directions */
    top: 50%;
    left: 60%;
}

/*
    :checked pseudo-class selector matches for our checkbox input tag
    when checked is true
*/
input:checked + .slider {
    background-color: #c00000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}