body {
  padding: 1.6em 2em 4em;
  letter-spacing: -0.011em;
  font-family: 'Inter var', sans-serif;
  font-size: 16px;
  color: #34495e;
  background: #f1f3f5;
}

#root,
.App {
    width: 100%;
    text-align: center;
}

.Chart__tableau{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5em;
}